@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: transparent !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.confetti-lines {
  background-image:
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 12px
    ),
    repeating-linear-gradient(
      -135deg,
      rgba(0, 0, 0, 0.04) 0px,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px,
      transparent 10px
    );
  opacity: 0.35;
  mix-blend-mode: multiply;
}
